@font-face {
  src: url("./Files/Fonts/Rubik-Light.ttf");
  font-family: "Rubik", sans-serif;
}
.html {
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 30px 100px;
  display: flex;
  position: fixed;
  width: 100vw;
  background-color: #fbfbfb;
}

.logo {
  flex-grow: 1;
}

.logo img {
  width: 150px;
}

.home, .about-us {
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 20px;
  font-weight: bold;
}

.about-us {
  margin-left: 3%;
  margin-right: 18vw;
}

.about-us .round {
  border-radius: 50%;
  border: 1px solid #fdd000;
  background-color: #fdd000;
  height: 7px;
  width: 7px;
  margin-left: 45%;
}

.content {
  padding: 0 20%;
  text-align: justify;
}
.content h1 {
  padding: 0 0 5% 0;
  font-size: 25px;
  font-weight: bold;
}

.content p {
  color: #888888;
}

.calendar-content {
  background-image: url("Files/images/Artboard_1_copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  text-transform: uppercase;
  font-weight: bold;
}

.calendar-content .choose-meeting {
  display: flex;
  flex-direction: column;
  color: #fbfbfb;
  text-align: right;
  padding-right: 3%;
}

.calendar-content .choose-meeting p {
  color: #b2b1b1;
  font-size: 20px;
  text-transform: none;
  font-weight: normal;
}

.calendar-content .choose-meeting marker {
  color: #ebc206;
}

.calendar-wrapper {
  width: 40%;
  background-color: #272829;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 70%;
  color: #fbfbfb;
  text-align: center;
}

.moth-year-name {
  display: flex;
}

.month-toggle {
  border: 1px solid #a3a3a4;
  height: 10px;
}

.left-toggle {
  margin-right: auto;
}

.show-prev-month-arrow-first {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: fixed;
}

.show-prev-month-arrow-second {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: fixed;
  margin-top: 7px;
}

.right-toggle {
  margin-left: auto;
}

.show-next-month-arrow-first {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: fixed;
}

.show-next-month-arrow-second {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: fixed;
  margin-top: 7px;
}

.calendar-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  color: #fbfbfb;
}

.day {
  box-sizing: border-box;
  width: 14.28%;
  border: 1px solid transparent;
  padding: 5px 0;
}
.day:hover {
  border: 1px solid #888888;
  cursor: pointer;
}

.other-days {
  color: #525253;
}

.weekDay {
  width: 14.28%;
}

.current-day {
  background-color: #fdd000;
  color: #272624;
}

.line {
  width: 100%;
  border-bottom: 1px solid #525253;
  margin: 5px 0;
}

.pop-up-notification {
  width: 100vw;
  height: 100vh;
  position: fixed;
  justify-content: center;
  background: rgba(64, 67, 64, 0.6);
  display: flex;
  align-items: center;
}

.pop-up-notification .form {
  display: flex;
  background-color: #fbfbfb;
  height: auto;
}

.form .section {
  margin-left: 20px;
  margin-bottom: 15px;
}

.form input {
  border: 2px solid #ebc206;
  height: 20px;
  width: 110px;
  padding: 5px;
  color: #404340;
  font-weight: bold;
}

.form p {
  font-size: 11px;
  font-weight: bold;
  color: #888888;
}

.form .close {
  height: 20px;
  width: 20px;
  background-color: #ebc206;
  flex-grow: 2;
  order: 2;
  margin-left: auto;
}

.close .first-div {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 11px;
  border: 1px solid black;
  position: fixed;
  margin-top: 8px;
  margin-left: 3px;
}

.close .second-div {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 11px;
  border: 1px solid black;
  position: fixed;
  margin-top: 8px;
  margin-left: 3px;
}

@media (max-width: 700px) {
  body {
    min-width: 320px;
  }

  .calendar-content {
    flex-direction: column;
    height: 100vh;
  }

  .calendar-wrapper {
    height: auto;
    width: auto;
    padding: 20px 0;
  }
}
@media screen and (max-width: 531px) {
  header {
    display: block;
  }

  .about-us {
    margin-left: 0;
    display: flex;
  }

  .about-us .round {
    margin-left: 7px;
    margin-top: 7px;
  }

  .content h1 {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.module.css.map */
