@font-face {
  src: url("./Files/Fonts/Rubik-Light.ttf");
  font-family: "Rubik", sans-serif;
}
body {
  margin: 0;
  font-family: "Rubik", serif;
}
header {
  padding: 3% 10%;
  display: flex;
}

.logo {
  flex-grow: 2;
}
.logo img {
  width: 150px;
}
.home, .about-us {
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 20px;
  font-weight: bold;
}

.about-us {
  margin-left: 3%;
}
.about-us .round {
  border-radius: 50%;
  border: 1px solid #fdd000;
  background-color: #fdd000;
  height: 7px;
  width: 7px;
  margin-left: 45%;
}

.content {
  padding: 0 20%;
  text-align: justify;
  h1 {
    padding: 0 0 5% 0;
    font-size: 25px;
    font-weight: bold;
  }
}

.content p {
  color: #888888;
}

.calendar-content {
  background-image: url("Files/images/Artboard_1_copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 200px;
}

.calendar-content .choose-meeting {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #fbfbfb;
  font-weight: bold;
  margin-right: 10%;
}
.calendar-content .choose-meeting marker {
  color: #ebc206;
}

.calendar {
  width: 200px;
  color: #fbfbfb;
  margin-right: 10%;
  text-align: center;
}
.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: #fbfbfb;
  font-weight: bold;
}

.day {
  width: 14%;
}
.current-day {
  background-color: #fdd000;
  color: #272624;
}
@media screen and (max-width: 531px){
  header {
    display: block;
  }
  .about-us {
    margin-left: 0;
    display: flex;
  }
  .about-us .round {
    margin-left: 7px;
    margin-top: 7px;
  }
  .content h1 {
    font-size: 20px;
  }
}

